.headerNavPanel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(171, 183, 185);
}

.navigation {
    display: flex;
}